<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="랜드마킹 관리자 페이지입니다.">
    <meta name="keywords" content="랜드마킹, 토지중개, 토지분석">
    <meta name="author" content="랜드마킹">
    <meta property="og:type" content="website">
    <meta property="og:url" content="url">
    <meta property="og:image" content="/images/common/icon_logo01.png">
    <meta property="og:title" content="랜드마킹 ADMIN">   
    <meta property="og:site_name" content="랜드마킹 ADMIN">   
    <meta property="og:description" content="랜드마킹 관리자 페이지"> 
    <meta property="og:locale" content="ko_KR"> 
    <title>관리자페이지</title>
    <!-- STYLE LINK-->
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/style.css" >
</head>
<body>
    <div id="wrapper">
        <div class="popup popup-analysis">
            <div class="container">
                <div class="inner">
                    <div class="table-area">
                        <table class="table">
                            <thead class="thead">
                                <tr class= "tr">
                                    <th class="th t-id">아이디</th>
                                    <th class="th t-name">실명</th>
                                    <th class="th t-sort">상품종류</th>
                                    <th class="th t-price">결제금액</th>
                                    <th class="th t-date">요청일</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr class="tr">
                                    <td class="td t-id"><span class="value">lee122</span></td>
                                    <td class="td t-name"><span class="value">이충재</span></td>
                                    <td class="td t-sort"><span class="value">등록대행</span></td>
                                    <td class="td t-price"><span class="value">300,000</span>원</td>
                                    <td class="td t-date"><span class="value">2021.01.01.<br>00:00</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <form>
                        <p class="select-info">등록진행상황을 수정 해 보세요.</p>
                        <fieldset class="select-box">
                            <input type="text" class="select" value="" placeholder="등록진행상황" readonly>
                            <div class="options">
                                <span class="option" data-option="대기중">대기중</span>
                                <span class="option" data-option="진행중">진행중</span>
                                <span class="option" data-option="완료">완료</span>
                            </div>
                        </fieldset>
                        <fieldset class="btn-wrap">
                            <button type="button" class="btn btn_cancel" onClick="javascript:window.close()">취소</button>
                            <button type="submit" class="btn btn_sm">확인</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        function selectBoxFn(){
                var SELECT = document.querySelectorAll('.select');
                var INFO = document.querySelector('.select-info');
                var onSelectFn = function(event){
                    event.preventDefault();
                    if(event.target.classList.contains('on')) event.target.classList.remove('on');
                    else {
                        event.target.classList.add('on');
                        onOptionFn(event.target);
                    }
                
                };

                var onOptionFn = function(selectNode){
                    var SELECT = selectNode;
                        OPTIONS = SELECT.nextElementSibling,
                        OPTION = OPTIONS.querySelectorAll('.option');
                
                    OPTION.forEach(function(el){
                        el.addEventListener('click', function(e){
                            e.preventDefault();
                            var newValue = e.target.getAttribute('data-option');
                            var oldValue = SELECT.getAttribute('value');
                            if(oldValue.length > 0) OPTIONS.querySelector(`[data-option=${oldValue}]`).classList.remove('is-selected');
                            e.target.classList.add('is-selected');
                            //selection
                            SELECT.setAttribute('value', newValue);
                            SELECT.innerText = newValue;
                            SELECT.classList.remove('on');
                            //info
                            INFO.innerHTML = '등록진행상황을&#160;' + '<span class="value"></span>'  + '(으)로 수정합니다.';
                            INFO.querySelector('.value').innerText = newValue;

                        })
                    });
                };
            
                SELECT.forEach(function(el){
                    el.addEventListener('click', onSelectFn);
                });

        }selectBoxFn();
    </script>
</body>
</html>

