<!-- 
[팝업] 확대보기
- 내 토지 분석 (무료분석, 유료분석)
-->
<div class="popup popup-zoom hide" data-popup="zoomSlide">
    <div class="dim"></div>
    <div class="container">
        <div class="inner">
            <div class="slide-container">
                <ul class="slide-wrap clear">
                    <li class="slide">
                        <img src="../upload/img_land01.png" alt="토지">
                        <span class="slide-num bg_v bx-round_l"></span>
                    </li>
                    <li class="slide">
                        <img src="../upload/img_land01.png" alt="토지">
                        <span class="slide-num bg_v bx-round_l">
                            <em class="num"></em>&nbsp;/&nbsp;<em class="nums"></em>
                        </span>
                    </li>
                    <li class="slide">
                        <img src="../upload/img_land01.png" alt="토지">
                        <span class="slide-num bg_v bx-round_l">
                            <em class="num"></em>&nbsp;/&nbsp;<em class="nums"></em>
                        </span>
                    </li>
                    <li class="slide">
                        <img src="../upload/img_land01.png" alt="토지">
                        <span class="slide-num bg_v bx-round_l">
                            <em class="num"></em>&nbsp;/&nbsp;<em class="nums"></em>
                        </span>
                    </li>
                    <li class="slide">
                        <img src="../upload/img_land01.png" alt="토지">
                        <span class="slide-num bg_v bx-round_l">
                            <em class="num"></em>&nbsp;/&nbsp;<em class="nums"></em>
                        </span>
                    </li>
                    <li class="slide">
                        <img src="../upload/img_land01.png" alt="토지">
                        <span class="slide-num bg_v bx-round_l">
                            <em class="num"></em>&nbsp;/&nbsp;<em class="nums"></em>
                        </span>
                    </li>
                </ul>
            </div>
            <button class="btn btn_prev" type="button"></button>
            <button class="btn btn_next" type="button"></button>
            <button class="btn btn_close"></button>
        </div>
    </div>
</div>