<footer id="footer">
    <div class="container">
        <div class="inner">
        <div class="f-top">
            <div class="inner">
                <p class="row01 ft_b_s">최고의 토지 거래를 원하시나요?</p>
                <p class="row02">랜드마킹의 토지 분석은<br>전국 최고 수준입니다.</p>
                <a href="../html/sub_rg_search.html" class="row03 l-box bg_w bx-round_xs">토지 등록하기</a>
            </div>
        </div>
        <div class="f-mid l-inline clear">
            <div class="col02 l-inline">
                <div class="f-util-wrap l-inline">
                    <p class="f-tit ft_b_s">서비스 소개</p>
                    <div class="l-slide-wrap">
                        <ul>
                            <li><a href="../html/sub_rg_search.html">토지 직접 등록</a></li>
                            <li><a class="btn_pop" href="#none" data-popup="service_rg01">토지 등록 대행</a></li>
                            <li><a href="../html/sub_service.html#sFree">무료 분석</a></li>
                            <li><a href="../html/sub_service.html#sPro">전문 분석</a></li>
                            <li><a href="../html/sub_service.html#sTotal">종합 분석</a></li>
                            <li><a href="../html/sub_service_map.html">오시는 길</a></li>
                            <li><a href="../html/sub_notice.html">공지사항</a></li>
                        </ul>
                    </div>
                </div>
                <div class="f-util-wrap l-inline">
                    <p class="f-tit ft_b_s">토지</p>
                    <div class="l-slide-wrap">
                    <ul>
                        <li><a href="../html/sub_list.html">마스터 추천 토지</a></li>
                        <li><a href="../html/sub_list.html">등록된 토지</a></li>
                    </ul>
                    </div>
                </div>
                <div class="f-util-wrap l-inline">
                    <p class="f-tit ft_b_s">약관</p>
                    <div class="l-slide-wrap">
                    <ul>
                        <li><a href="../html/sub_terms_use.html">이용약관</a></li>
                        <li><a href="../html/sub_terms_privacy.html">개인정보처리방침</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="f-btm">
            <div class="inner">
                <div class="info-wrap ft_m_m">
                    <p class="f-tit ft_b_s">주식회사 알에이에스</p>
                    <ul>
                        <li class="f-info">대표 : 최영준</li>
                        <li class="f-info l-inline">사업자등록번호 : 809-86-01924</li>
                        <li class="f-info l-inline bar">통신판매업 신고번호 : 제 2021-대구중구-0434 호</li>
                        <li class="f-info">주소 : (41951)대구광역시 중구 달구벌대로 2204, 2층 (대봉동)</li>
                        <li class="f-info l-inline">고객센터 : 053-234-5678</li>
                        <li class="f-info l-inline bar">contact@landmaster.com</li>
                    </ul>
                </div>
            </div>
        </div> 
        <div class="f-copy-wrap clear">
            <span class="copyright">&copy;LANDMARKING</span>
            <span class="f-logo"><img src="../images/common/icon_foot_logo.svg" alt="토지"></span> 
        </div>
    </div>
    </div>
</footer>