<!-- 로그인 후 Header -->
<header id="header">
    <div class="conatiner">
        <div class="inner clear">
            <h1 class="logo-wrap l-inline">
                <a href="../html/index.html" class="logo l-box">
                    <img class="logo_img logo_s" src="../images/common/icon_logo_s.svg" alt="랜드마킹">
                    <img class="logo_img logo_m" src="../images/common/icon_logo_m.svg" alt="랜드마킹">
                    <img class="logo_img logo_mb" src="../images/common/icon_logo_mobile.svg" alt="랜드마킹">
                </a>
            </h1>
            <button id="navBtn" class="btn"></button>
            <div class="menu-wrap Clear l-inline">
                <div class="util l-inline signined">
                    <span class="util-item"><a href="../html/sub_acc_login.html">로그인</a></span>
                    <span class="util-item"><a href="../html/sub_acc_join.html">회원가입</a></span>
                    <div class="util-item util-user l-inline">
                        <span><a href="../html/sub_mp_menu.html">김토지&nbsp;</a>님,&nbsp;안녕하세요!</span>
                        <ul class="menu_dp2 bx-round_xl bg_w">
                            <li class="item"><a class="bx-round_m" href="../html/sub_mp_menu.html">마이 메뉴</a></li>
                            <li class="item"><a class="bx-round_m" href="../html/sub_mp_list.html">내 토지 분석</a></li>
                            <li class="item"><a class="bx-round_m" href="../html/sub_mp_faq.html">문의하기</a></li>
                            <li class="item"><a class="bx-round_m" href="#none">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="gnb l-inline">
                    <span class="gnb-item gnb-item_dp service l-inline">
                        <a href="#none">서비스 소개</a>
                        <ul class="menu_dp2 bx-round_xl bg_w">
                            <li class="item">
                                <i class="icon icon_handWaving"></i>
                                <a class="bx-round_m" href="../html/sub_service.html">서비스 소개</a>
                            </li>
                            <li class="item">
                                <i class="icon icon_mapPin"></i>
                                <a class="bx-round_m" href="../html/sub_service_map.html">오시는 길</a>
                            </li>
                            <li class="item">
                                <i class="icon icon_megaphone"></i>
                                <a class="bx-round_m" href="../html/sub_notice.html">공지사항</a>
                            </li>
                        </ul>
                    </span>
                    <div class="gnb-item gnb-item_dp l-inline">
                        <a href="#none" class="">토지</a>
                        <ul class="menu_dp2 bx-round_xl bg_w">
                            <li class="item tit">목록</li>
                            <li class="item">
                                <i class="icon icon_medal"></i>
                                <a class="bx-round_m" href="../html/sub_list.html">마스터 추천 토지</a>
                            </li>
                            <li class="item">
                                <i class="icon icon_globe"></i>
                                <a class="bx-round_m" href="../html/sub_list.html">등록된 토지</a>
                            </li>
                            <li class="item tit">등록</li>
                            <li class="item">
                                <i class="icon icon_pointing"></i>
                                <a class="btn_pop bx-round_m" href="#none" data-popup="service_register">토지 직접 등록</a>
                            </li>
                            <li class="item">
                                <i class="icon icon_card"></i>
                                <a class="bx-round_m btn_pop" href="#none" data-popup="service_rg01">토지 등록 대행</a>
                            </li>
                            <li class="item tit">분석</li>
                            <li class="item">
                                <i class="icon icon_heart"></i>
                                <a class="btn_pop bx-round_m" href="#none" data-popup="service_analysis">토지 무료 분석</a>
                            </li>
                            <li class="item">
                                <i class="icon icon_card"></i>
                                <a class="bx-round_m btn_pop" href="#none" data-popup="service_an01">토지 전문 분석</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>